<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ var u = Session["User"] as NguyenPhuocTam.Models.Account;
            }
        <div class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 class="navbar-brand"><a href="@Url.Action("Index", "Home")" style="color:#ffff;"> <span style=" text-indent: 100px;" class="glyphicon glyphicon-home"> WebBánSách</span> </a></h4>
                </div>
                <div class="navbar-collapse">
                    <h4 class="navbar-brand" style=" text-indent: 10px;">
                        <a href="@Url.Action("Index", "Home")" style="color:#ffff"><span class="glyphicon"> Home </span></a>
                    </h4>
                    <h4 class="navbar-brand" style=" text-indent: 10px;">
                        <a href="@Url.Action("About", "Home")" style="color:#ffff"><span class="glyphicon"> About</span></a>
                    </h4>
                    <h4 class="navbar-brand" style=" text-indent: 10px;">
                        <a href="@Url.Action("Contact", "Home")" style="color:#ffff"><span class="glyphicon"> Contact</span></a>
                    </h4>

                    <div class="nav navbar-nav navbar-right col-md-4">
                        @{ if (u != null && (u.IsAdmin == false))
                            {

                                <h4 sstyle=" text-indent: 10px;" class="navbar-brand"> <a href="#" style="color:#ffff"><span class="glyphicon">@u.Username </span> </a></h4>
                                <h4 class="navbar-brand" style=" text-indent: 5px;">
                                    <a href="@Url.Action("DangXuat", "User")" style="color:#ffff"> <span class="glyphicon" onclick="return confirm('Bạn có chắc muốn đăng xuất không?');">ĐăngXuất </span>   </a>
                                </h4>
                                <h4 class="navbar-brand" style=" text-indent: 5px;">
                                    <a href="~/Cart/Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="color:white">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </a>
                                </h4>
                                <h4 class="navbar-brand">
                                    @Html.Action("cartIteam", "Cart")
                                </h4>
                            }
                            else
                            {
                                <h4 class="navbar-brand" style=" text-indent: 5px;">
                                    <a href="@Url.Action("Dangnhap", "User")" style="color:#ffff"> <span class="glyphicon glyphicon-log-in"> Login</span>  </a>
                                </h4>
                                <h4 class="navbar-brand" style=" text-indent: 5px;">
                                    <a href="@Url.Action("Register", "User")" style="color:#ffff"><span class="glyphicon glyphicon-user"> SignUp</span>  </a>
                                </h4>
                                <h4 class="navbar-brand">
                                    <a href="~/Cart/Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="color:white">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </a>
                                </h4>
                                <h4 class="navbar-brand">
                                    @Html.Action("cartIteam", "Cart")
                                </h4>

                            } }
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Nguyễn Phước Tâm</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
